.right
    margin-top 0.2rem
    margin-left $margin
    h3
        font-size $h2
        color $primary
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 2
        overflow hidden
    p
        font-size $p
        color #00CD00