input{
    width: 80%;
    border: 1px solid $primary;
    margin: $margin auto;
    display: block;
    padding: $padding;
    border-radius: $radius;
}
button{
    outline: none;
    width: 80%;
    margin: $margin auto;
    padding: $padding;
    text-align:center;
    display: block;
    background: $primary;
    color: #fff;
    border-radius: $radius
}
